<div class="recipe-card">
  <h3>{{recipe.Name}}</h3>
  <div class="recipe-icon-large">
    <img [src]="iconUrl(recipe)" alt="Recipe Icon">
  </div>
  <div class="inputs-outputs-row">
    <div class="recipe-inputs">
      <div *ngFor="let x of inputsPerMinute(recipe)" class="icon-container">
        <img src="DSP-Json/{{x.Item.IconPath}}.png"/>
        <span class="icon-count">{{x.Count}}</span>
      </div> 
    </div>
    <div class="craft-time">
      <span>&rarr;</span>
    </div>
    <div class="recipe-outputs">
      <div *ngFor="let x of outputsPerMinute(recipe)" class="icon-container">
        <img src="DSP-Json/{{x.Item.IconPath}}.png"/>
        <span class="icon-count">{{x.Count}}</span>
      </div>
    </div>
  </div>
</div>